<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<!-- General meta-information -->
		<title>{{page.title}}{% if page.subtitle %}. {{page.subtitle}} by Matthias Hinz{% endif %}</title>
		<meta name="author" content="Matthias Hinz">
		<meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{page.excerpt | strip_html | strip}}{% endif %}">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		
		<!-- Open Graph metadata -->
		<meta property="og:title" content="{{page.title}}{% if page.subtitle %}. {{page.subtitle}} by Matthias Hinz{% endif %}" />
		<meta property="og:image" content="{% if page.preview_image %}{{site.url}}{{page.preview_image}}{% else %}http://matthiashinz.eu/img/Matthias_small2.jpg{% endif %}"/>
		<meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}{{page.excerpt | strip_html | strip}}{% endif %}" />
		<meta property="og:url" content="{{site.url}}{{page.url}}" />
		
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="expires" content="3600">
		
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			body, h1, h2, h3, h4, h5, h6 {
				font-family: "Raleway", sans-serif
			}
			.w3-sidenav a, .w3-sidenav h4 {
				font-weight: bold
			}
	
			th, td {
				border-bottom: 1px solid;
			}
	
			.whiteTable tr:hover {
				background-color: #CCCCCC
			}
	
			.blueTable tr:hover {
				background-color: #79bff8
			}/*#0c87eb} /*#aabbff}*/
	
			.lang {
				font-weight: bold;
				font-family: monospace;
			}
			
			p {
			    max-width: 900px;
			    text-align: justify;
			}
			
			@media (max-width: 480px) { 
				p {
					text-align: left;
				}
				
				.project-container{
					padding: 0px;
				}
				/* Scale big text on small screens*/
				h1 {
				  font-size: 5.9vw;
				}
				h2 {
				  font-size: 3.0vh;
				}
				
			}
			
			
			@media (min-width: 480px) { 
				.project-container{
					padding: 25px;
				}
				
			}
	
			/* text in center*/
			.center{
				text-align: center;			
			}
	
			/*
			 w3-text-light-grey:hover{
			 color: yellow;
			 }
	
			 */
		</style>
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/main.css">
			<link rel="stylesheet" href="/css/pygment-default.css">
		<script src="/js/vendor/modernizr-2.8.3.min.js"></script>
	</head>
	<body class="w3-light-grey w3-content" style="max-width:1600px">

		<!-- Sidenav/menu -->
		<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidenav">
			<br>
			<div class="w3-container">
				<a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding" title="close menu"> <i class="fa fa-remove"></i> </a>
				<img src="/img/Matthias_small.jpg" alt="portrait photo" style="width:45%;" class="w3-round">
				<br>
				<br>
				<h4 class="w3-padding-0"><b>MATTHIAS HINZ</b></h4>
				<p class="w3-text-grey">
					M.Sc. Geoinformatics
				</p>
			</div>
			<!--<a href="#projects" onclick="w3_close()" class="w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>PROJECTS</a> -->
			<a href="/#about" onclick="w3_close()" class="w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a>
			<a href="/#skills" onclick="w3_close()" class="w3-padding"><i class="fa  fa-check-square-o fa-fw w3-margin-right"> </i>SKILLS</a>
			<a href="/#works" onclick="w3_close()" class="w3-padding"><i class="fa fa-wrench fa-fw w3-margin-right"></i>WORKS</a>

			<a href="/#contact" onclick="w3_close()" class="w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>

			<div class="w3-section w3-padding-top w3-large">


				<a target="_blank" href="https://github.com/MatthiasHinz" class="w3-hover-white w3-hover-text-light-blue w3-show-inline-block"><i class="fa fa-github"></i></a>
				<a target="_blank"  href="https://www.linkedin.com/in/matthias-hinz-92060490/" class="w3-hover-white w3-hover-text-indigo w3-show-inline-block"><i class="fa fa-linkedin"></i></a>
				<a target="_blank"  href="https://www.slideshare.net/matthiasmhinz" class="w3-hover-white w3-hover-text-light-blue w3-show-inline-block"><i class="fa fa-slideshare"></i></a>
				<a target="_blank"  href="https://www.facebook.com/matthias.m.hinz" class="w3-hover-white w3-hover-text-indigo w3-show-inline-block"><i class="fa fa-facebook-official"></i></a>

				<a target="_blank" href="https://openhub.net/accounts/MatthiasHinz"><img alt='Open Hub profile for Matthias Hinz' border='0' height='35' src='https://openhub.net/accounts/MatthiasHinz/widgets/account_detailed?format=gif&amp;' width='230'></a>

			</div>
		</nav>

		<!-- Overlay effect when opening sidenav on small screens -->
		<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

		<!-- !PAGE CONTENT! -->
		<div class="w3-main" style="margin-left:300px">

			<!-- Header -->
			<header class="w3-black w3-container" id="portfolio">
				<a href="#"><img src="/img/Matthias_small.jpg" alt="portrait photo" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
				<span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
			</header>
		
				{{ content }}
		
		</div>



			<div class="w3-black w3-center w3-padding-24">
				<a href = "/impressum">Website Impressum</a> &nbsp; | &nbsp; Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a>
			</div>

			<!-- End page content -->
		
		<script>
			// Script to open and close sidenav
			function w3_open() {
				document.getElementById("mySidenav").style.display = "block";
				document.getElementById("myOverlay").style.display = "block";
			}

			function w3_close() {
				document.getElementById("mySidenav").style.display = "none";
				document.getElementById("myOverlay").style.display = "none";
			}
		</script>

		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script>
			window.jQuery || document.write('<script src="/js/vendor/jquery-3.1.1.min.js"><\/script>')
		</script>
		<script src="/js/plugins.js"></script>
		<script src="/js/main.js"></script>


		
		<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
		<script>
			window.ga = function() {
				ga.q.push(arguments)
			};
			ga.q = [];
			ga.l = +new Date;
			ga('create', 'UA-85060982-1', 'auto');
			ga('send', 'pageview')
		</script>
		<script src="https://www.google-analytics.com/analytics.js" async defer></script>
	</body>
</html>